<header class="header">
  <%= link_to 'TechChat', root_path, class: 'header-title' %>
  <%= link_to '質問する', new_question_path, class: 'header-button' %>
</header>

<div class="main-content">
  <% if @questions.any? %>
    <% @questions.each do |question| %>
      <div class="question-item">
        <div class="comment-count">
          <div class="count-number"><%= question.answers.count %></div>
          <div class="count-label">comments</div>
        </div>
        <div class="question-content">
          <h2 class="question-title">
            <%= link_to question.title, question_path(question), class: 'question-link' %>
          </h2>
          <p class="question-text"><%= question.content %></p>
          <div class="question-meta">投稿者：<%= question.author %></div>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>まだ質問はありません。</p>
  <% end %>
</div> 