<header class="header">
  <%= link_to 'TechChat', root_path, class: 'header-title' %>
  <%= link_to '質問する', new_question_path, class: 'header-button' %>
</header>

<div class="main-content">
  <div class="new-question-form">
    <h2 class="form-title">新しい質問を投稿</h2>
    
    <%= form_with(model: @question, local: true, class: 'question-form') do |f| %>
      <% if @question.errors.any? %>
        <div class="error-messages">
          <ul>
            <% @question.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-field">
        <%= f.label :title, '質問タイトル' %>
        <%= f.text_field :title, placeholder: '質問のタイトルを入力してください' %>
      </div>

      <div class="form-field">
        <%= f.label :content, '質問内容' %>
        <%= f.text_area :content, placeholder: '質問の詳細を入力してください' %>
      </div>

      <div class="form-field">
        <%= f.label :author, '投稿者名' %>
        <%= f.text_field :author, placeholder: 'あなたの名前を入力してください' %>
      </div>

      <div class="form-actions">
        <%= f.submit '質問を投稿', class: 'post-button' %>
        <%= link_to '戻る', root_path, class: 'cancel-button' %>
      </div>
    <% end %>
  </div>
</div>
